html {
  scroll-behavior: smooth;
}
body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Oswald", sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}
iframe {
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.para {
  margin-bottom: -0.5rem;
}
.activeLink {
  color: #ba445e;
}
.activeLink:active {
  color: #ba445e;
}

.nonActiveLink {
  color: black;
}
